footer {
    background: {
        image: url(../assets/img/footer-bg.jpg);
        repeat: no-repeat;
        position: top center;
        size: cover;
    }

    input.form-control {
        height: 3.125rem;
        border-color: #efefef;        
    }

    textarea.form-control {
        height: 12.5rem;
        border-color: #efefef;
    }

    .info-block {
        margin-top: 9.3rem;

        [class*="col"] {            
            padding: 4rem 3rem 4rem 1rem;
            background-color: rgba(38, 39, 50, 0.85);            
        }

        .info-title {
            min-height: 4.5rem;
        }

        .bottom {
            @include bottom-color;
        }  

        p, a {
            color: #fef4f2;             
        }
    
        a {
    
            margin-right: .8rem;
    
            &:hover {
                color: #fef4f2; 
                text-decoration: none;
            }
        }
    
        i {
            font-size: $font-size-base * 1.7;        
        }
     
    }
}