body {
    // Insert the navbar at the top because the navbar position is pulled from the normal flow of the DOM.  
    padding-top: $navbar-height;

    // Scrollspy requires "position: relative" on the element you’re spying on
    position: relative;  
}

// Custom fonts
@include font-face("Poppins", "../assets/font/Poppins", "Poppins-Regular", 400);
@include font-face("Poppins", "../assets/font/Poppins", "Poppins-Medium", 500);
@include font-face("Poppins", "../assets/font/Poppins", "Poppins-SemiBold", 600);
@include font-face("Libre Baskerville", "../assets/font/Libre_Baskerville", "LibreBaskerville-Regular", 400);
@include font-face("Libre Baskerville", "../assets/font/Libre_Baskerville", "LibreBaskerville-Bold", 700);

h1 {
    color: $white;
}

h2 {
    font-weight: $h2-font-wight;
    color: $dark;
    margin-bottom: 1.5rem;
}

p {
    line-height: $p-line-height;
    color: $gray;
}

.icon {
    font-size: $font-size-base * 2.3; 

    // Set font colors
    @include font-color;
}

span.notes {
    font-size: $font-size-base * 1.25; 

    // Set font colors
    @include font-color;
}

section,
footer {
    padding: 9.0625rem 0;
}

.custom-cards {
    max-width: 20rem;    
    box-shadow: 0px 0px 1.25rem 0px rgba(0, 0, 0, 0.05);    
    text-align: center;

    // Set bottom border colors
    @include bottom-color;
}

.btn {
    padding: 1.25rem 3.5rem; 
    border-radius: 2.5rem;
    text-transform: uppercase;
    font-weight: $font-weight-semibold;
}

