header {
    position: relative;
    min-height: 770px;
    padding-top: 10.9375rem;
    padding-bottom: 9.9375rem;    
    background-image: url(../assets/img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .header-bg-layout {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(38, 39, 50, 0.85);
    }

    .btn-block {
        margin-top: 3.125rem;        
    }

    .header-icons {
        margin-top: 5rem;

        .icon-note-block {
            margin-top: 1.875rem;
        }
    }

    span.notes {
        font-size: $font-size-lg;
        text-transform: uppercase;
        font-weight: $font-weight-medium;
    }
}


  