#mainNav {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    background-color: $white;

    .navbar-nav {
        li.nav-item {
            text-align: center;            
            a.nav-link {
                font-size: $font-size-sm;
                font-weight: $font-weight-medium;
            }

            // Bootsatrap scrollspy class
            .active {
                color:$green;
            }
        }
    }
    
    .navbar-toggler {
        font-size: $font-size-sm; 

        &:focus {
            outline: none;
        }
    }
}


  