section#portfolio {
    .col {
        margin-bottom: 1.5rem;
        text-align: center;       
    }

    .portfolio-item {
        position: relative;
        display: inline-block;

        .portfolio-caption {
            position: absolute;
            top: 0;
            left: 0;
            bottom:0;
            right:0;
            opacity: 0;
            transition: $transition-base;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .icon {
                font-size: $font-size-lg * 4;
                margin-top: 15%;
            }

            &:hover {
                opacity: 1;
                cursor:pointer;
            }

            div {
                background-image: url(../assets/img/img-info-bg.jpg);
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 100% 3px;
                background-color: $white;
                padding: 1.5rem;
                box-shadow: 0px 4px 6px 0px rgba(34, 60, 80, 0.2);
                display: flex;
                align-items: center;
                justify-content: center;              
            }
        }
    }
}
