section#team {
    background-color: $light;
    
    .info-box {
        padding: 4.625rem 0;
        box-shadow: 0px 0px 1.25rem 0px rgba(0, 0, 0, 0.05);
        background-color: $white;

        ul {
            border-left: 2px solid #efefef; 

            a.nav-link {
                color: $gray;
            }
        }          
    }
}

@include media-breakpoint-up(xl) {
    section#team {

        .custom-cards {
            cursor:pointer;
        }

        .info-box {
            position: relative;
            .triangle {               
                position: absolute; 
                left: 20px; 
                top: -$font-size-base * 4; 
                font-size: $font-size-base * 4;  
                color: $white; 
                text-shadow: 0px 0px 1.25rem 0px rgba(0, 0, 0, 0.05);
                transform: scaleX(1.3);
            }
        }
    }
}